.colors {
    padding: 1rem;
    height: auto;
    text-align: center;
}

.card-play .card-color {
    margin: auto;
    display: flex;
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.4);
    color: white;
}

.card-play .card-color h1 {
    margin: auto;
}

/* color play */

.colors-play {
    padding: 1rem;
    height: 100vh;
    text-align: center;
}

.colors-play .flex {
    display: flex;
    justify-content: space-between;
}

.colors-play .selectColor {
    height: 250px;
    max-width: 250px;
    margin: 3rem auto;
    border-radius: 20px
}

.colors-play .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.very {
    font-weight: 800;
}