:root {
    --purple: #926ab3;
    --blue: #4568DC;
    --marrin: #40c3fbe6;
    --white: #fff;
    --gradient: radial-gradient(90.77% 89.57% at 50.14% 95.3%, #9a3cf8 70%, #dc6ef8fa 100%);
}

/* botones */
.btn-special:disabled {
    background: #2d4fc0c4;
    background: -webkit-linear-gradient(to right, #b16ab3b2, #2d4fc0c4);
    background: linear-gradient(to right, #b16ab3b2, #2d4fc0c4);
}

.btn-second {
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
    background: transparent;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-second:hover {
    background: white;
    color: black;
    transition: .5s;
}

.btn-special {
    -webkit-appearance: none;
    padding: 1rem 5rem;
    background: -webkit-gradient(to right, var(--purple) 0%, var(--marrin) 50%, var(--blue) 100%);
    background: linear-gradient(to right, var(--purple) 0%, var(--marrin) 50%, var(--blue) 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(225, 225, 225, .15);
    color: var(--white);
    cursor: pointer;
    font: 1.5em Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}

.btn-special:hover {
    animation-name: gradient;
    -webkit-animation-name: gradient;
    animation-duration: 2s;
    -webkit-animation-duration: s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100%
    }
}

/* titulos */

h1 {
    margin: .5rem 0;
}

/* cards */

.card-play {
    display: flex;
    text-align: center;
    align-items: center;
    height: 300px;
    border-radius: 50px;
    margin: 2rem 0;
    box-shadow: -1px 3px 27px 0px rgba(0, 0, 0, 0.75);
}

/* menu */

.menu {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    height: 30px;
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

/* grid */

.grid {
    margin: 1rem 0 3rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* container */

.container {
    margin: 1rem;
}

.container h1 {
    font-size: 40px;
}

/* footer */

.footer {
    bottom: 0;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

.footer a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
}

.header-buttons {
    height: 50vh;
    text-align: center;
    padding: 5rem 0;
}

.desarrollo {
    margin: 1rem;
    text-align: center;
}

.desarrollo .contenedor h1 {
    background: linear-gradient(259.11deg, rgba(64, 195, 251, 0.9) 1.63%, rgba(192, 112, 255, 0.9) 45.36%, rgba(255, 198, 113, 0.9) 84.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 50px;
}

.message {
    font-size: 14px;
    position: static;
    top: 0;
    padding: 1rem 2rem;
    text-align: center;
    background: #4568DC;
    -webkit-box-shadow: -1px 7px 48px 0px rgba(73, 77, 135, 1);
    -moz-box-shadow: -1px 7px 48px 0px rgba(73, 77, 135, 1);
    box-shadow: -1px 7px 48px 0px rgba(73, 77, 135, 1);
}

@media only screen and (min-width: 768px) {
    .btn {
        padding: 1rem;
    }
    .card-play {
        margin: 1rem;
    }
    .menu {
        padding: 2rem;
    }
    .grid {
        grid-template-columns: repeat(4, 1fr);
        margin: 1rem 1rem 3rem 1rem;
    }
    .container {
        margin: 2rem 3rem;
    }
    .footer {
        font-size: 15px;
    }
    .btn-special{
        padding: 1rem 7rem;
    }
}