.number {
    text-align: center;
}
.number .number-render h1 {
    font-size: 10rem;
    margin: auto;
}

.number i {
    font-size: 25px;
    margin: 10px;
}

.sun {
    color: yellow;
}

.apple {
    color: red;
}

.atom {
    color: cornflowerblue;
}

.ball {
    color: orange;
}

.bus {
    color: blue;
}

.card-i {
    color: greenyellow;
}

.cloud {
    color: dodgerblue;
}

.cookie {
    color: chocolate;
}

.fish {
    color: cadetblue;
}

.flag {
    color: darkblue;
}

/* play color */

.numbers {
    display: block;
    margin: 1rem;
    text-align: center;
}
.sub-menu {
    padding: 0 1rem;
    text-align:right;
}

.sub-menu button {
    margin: 1rem 2rem;
}

/* inputs */

.inputs {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.inputs .btn-second {
    position: relative;
    margin: 2rem auto;
}

#input {
    margin: auto;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    max-width: 180px;
}